.header{
    display:flex;
    justify-content: center;
}

.timer{
    font-size:50px;
}

.stage{
    font-size:50px;
    margin-left: 100px;
}

.palette{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    /* 아이템들이 배치되는 축의 방향을 세로로 즉,
    아이템들이 세로방향으로 배치*/
    justify-content: center;
    align-items: center;
    margin-top:20px;
    flex-basis:100px;
    
}

.line{
    display:flex;
    justify-content:center;
}

.color{
    width:100px;
    height:100px;
    padding : 2px;
    border-radius: 3px;
    background-clip:content-box;
}